<div class="aficiones" id="actividades">
    <div class="af__header">
        <h3>Algunas actividades, aficiones y pasatiempos</h3>
    </div>
    <div class="container">
        <div class="af__body">
            <div class="af-a">
                <p>
                    Durante mi estancia en la <strong>Universidad Pontificia Bolivariana</strong> Logré destacar por:<br>
                    <br> Mi participación en el rodaje de diferentes productos audiovisuales para las áreas
                    de realización documental y argumental y en el diseño y desarrollo de animaciones en 3D y 2D.<br>

                    <br>Iluminación y asistencia de dirección en cortometraje <em>La Idea</em> en el marco del curso
                    de <strong>Realización Argumental</strong> en la Facultad de Comunicación Social – Periodismo. UPB.<br>
                    Medellín en marzo de 2017.<br>

                    <br>También por mi participación como Sonidista del filminuto Fortuito en el marco del curso<br>
                    de <strong>Realización Argumental</strong> en la Facultad de Comunicación Social – Periodismo. UPB.<br>
                    Medellín en febrero de 2017.<br>
                </p>
            </div>

            <div class="af-b">
                <p>
                    <br>Entre mis <strong>aficiones y pasatiempos</strong> destacan:<br>

                    <br>Amo el cine, me gustan diferentes tipos de música y me encantan los filmes clásicos de terror, me gusta manejar bicicleta, escribir historias
                    y artículos, desarrollo de animaciones 3D, mezcla musical, edición de fotografías, rodaje de material audiovisual<br>
                    y desarrollo de contenido en general para social media.
                </p>
            </div>
        </div>
    </div>
</div>