<div class="exp" id="experiencia">
    <div class="exp__header">
        <h3>Experiencia Laboral</h3>
    </div>
    <div class="container">
        <div class="exp__body">
            <div class="roi">
                <div class="roi-a">
                    <p><strong>Empresa: </strong>Roiback LATAM.</p>
                    <p><strong>Cargo: </strong>Content Manager</p>
                </div>
                <div class="container">
                    <div class="roi-b">
                        <p><strong>Período: </strong>15 de enero de 2019 - 23 de junio de 2020</p>
                    </div>
                    <div class="roi-c">
                        <p><strong>Funciones: </strong></p>
                        <ul>
                            <li>Carga de contenidos, optimización de imágenes, videos y resolución de incidencias.</li>
                            <li>Revisión de las webs de Roiback teniendo en cuenta factores de posicionamiento SEO: keywords, titles, H's. A nivel nacional e internacional.</li>
                            <li>Traducción de frases y palabras clave del inglés y otros idiomas al castellano y viceversa.</li>
                            <li>Recopilación de información y requerimientos (Briefing) de nuevos proyectos web.</li>
                            <li>Creación y optimización de contenido web, <em>SEO friendly</em> enfocado a la conversión, en inglés, español y otros idiomas.</li>
                            <li>Administración de cuentas en plataformas de Google de los proyectos y de datos estadísticos de posicionamiento.</li>
                        </ul>
                    </div>
                </div>
                <div class="roi-d">
                    <p><strong>Jefe inmediato: </strong>Daniel Medina</p>
                    <p><strong>Contacto: </strong>(+34) 971 406 149 (Ext: 120)</p>
                </div>
            </div>

            <div class="socya">
                <div class="socya-a">
                    <p><strong>Empresa: </strong>Fundación Socya</p>
                    <p><strong>Cargo: </strong>Comunicador Social Practicante</p>
                </div>
                <div class="container">
                    <div class="socya-b">
                        <p><strong>Período: </strong>5 de febrero a 3 de agosto de 2018</p>
                    </div>
                    <div class="socya-c">
                        <p><strong>Funciones: </strong></p>
                        <ul>
                            <li>Elaboración de contenido digital y multimedia para diferentes plataformas</li>
                            <li>Redacción de artículos para el periódico de EPM</li>
                            <li>Planeación y ejecución de actividades y estrategias comunicativas dirigidas a la comunidad</li>
                            <li>Planeación y ejecución de actividades y estrategias a nivel interno, dirigidas al EGS-PHI (Equipo de Gestión Social del Proyecto Hidroeléctrico Ituango)</li>
                            <li>Análisis estadístico de impacto social de las diferentes estrategias ejecutadas</li>
                            <li>Actualización constante de bases de datos</li>
                        </ul>
                        <p>Todas las funciones fueron orientadas por el <em>Equipo de Gestión Social del Proyecto Hidroeléctrico Ituango</em>en el marco del
                            desarrollo de mis prácticas y fueron aplicadas con las comunidades de los 12 municipios que conforman la zona de influencia del proyecto</p>
                    </div>
                </div>
                <div class="socya-d">
                    <p><strong>Jefe Inmediato: </strong>Yesica Natalia Gómez</p>
                    <p><strong>Contacto: </strong>+57 312 776 3620</p>
                </div>
            </div>

            <div class="gjm">
                <div class="gjm-a">
                    <p><strong>Empresa: </strong>Grupo Jurídico Medellín</p>
                    <p><strong>Cargo: </strong>SEO Specialist</p>
                </div>
                <div class="container">
                    <div class="gjm-b">
                        <p><strong>Período: </strong>13 de septiembre a 13 de noviembre de 2018</p>
                    </div>
                    <div class="gjm-c">
                        <p><strong>Funciones: </strong></p>
                        <ul>
                            <li>
                                Apoyo en el diseño, elaboración y difusión de contenido digital y fotográfico para sitio web y reestructuración del sitio para posicionamiento SEO.
                                <br><a href="https://www.grupojuridicomed.com/">Grupo Jurídico Medellín</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="gjm-d">
                    <p><strong>Jefe inmediato: </strong>Dr. Juan Carlos Múnera</p>
                    <p><strong>Contacto: </strong>+57 310 845 53 48</p>
                </div>
            </div>

            <div class="ajm">
                <div class="ajm-a">
                    <p><strong>Empresa: </strong>Asesorías Jurídicas Medellín</p>
                    <p><strong>Cargo: </strong>Desarrollador Web & Community Manager</p>
                </div>
                <div class="container">
                    <div class="ajm-b">
                        <p><strong>Período: </strong>Octubre de 2019 hasta la actualidad</p>
                    </div>
                    <div class="ajm-c">
                        <p><strong>Funciones: </strong></p>
                        <ul>
                            <li>Desarrollo completo (Backend y Frontend) del sitio web: <a href="https://asesoriasjuridicasmed.com/">asesoriasjuridicasmed.com</a> con redacción directa del contenido digital</li>
                            <li>Desarrollo de Web Responsive Multiplataforma/Multidispositivo</li>
                            <li>Optimización de imágenes y contenido <em>SEO Friendly</em></li>
                            <li>Planeación y ejecución del plan de Comunicación Digital</li>
                            <li>Planeación y ejecución del plan de posicionamiento SEO para diferentes motores de búsqueda</li>
                            <li>Asesoramiento general en Comunicación Digital</li>
                            <li>Entrega de informes mensuales de rendimiento en Google Analytics y Google My Business</li>
                            <li>Planeación y ejecución de campañas en Google Adwords (SEM) y en redes sociales</li>
                            <li>Desarrollo de material audiovisual y animaciones 2D para canal en <a href="https://www.youtube.com/channel/UC-BVRDpwP6PiT2GDryZkXPA">YouTube</a></li>
                            <li><strong>Acciones de Community Management:</strong>Diseño, desarrollo y publicación de post's y contenido multimedia para redes sociales</li>
                        </ul>
                    </div>
                </div>
                <div class="ajm-d">
                    <p><strong>Jefe inmediato: </strong>Dr. Juan Carlos Múnera</p>
                    <p><strong>Contacto: </strong>+57 310 845 53 48</p>
                </div>
            </div>

            <div class="teacompano">
                <div class="ta-a">
                    <p><strong>Empresa: </strong>Teacompaño</p>
                    <p><strong>Cargo: </strong>Desarrollador Web & Community Manager</p>
                </div>
                <div class="container">
                    <div class="ta-b">
                        <p><strong>Período 1: </strong>4 de diciembre de 2017 a 15 de noviembre de 2019</p>
                        <p><strong>Período 2: </strong>13 de enero del año 2020 a la actualidad</p>
                    </div>
                    <div class="ta-c">
                        <p><strong>Funciones: </strong></p>
                        <ul>
                            <p>
                                <strong>Primer Período: </strong>
                            </p>
                            <li>diseño, elaboración y difusión de contenido digital y fotográfico para redes sociales.</li>
                            <li>Construcción y mantenimiento del sitio web</li>
                            <li>Presentación de informes de rendimiento de Google Analytics y Google My Business</li>
                            <li>Planeación y ejecución de campañas en Google Adwords (SEM) y en redes sociales</li>
                        </ul>
                        <p>
                            <strong>Segundo Período: </strong>
                        </p>
                        <ul>
                            <li>Rediseño completo (Backend y Frontend) del sitio web: <a href="https://teacompano.com.co/">teacompano.com.co</a> con redacción directa del contenido digital</li>
                            <li>Desarrollo de Web Responsive Multiplataforma/Multidispositivo</li>
                            <li>Optimización de imágenes y contenido <em>SEO Friendly</em></li>
                            <li>Planeación y ejecución del plan de Comunicación Digital</li>
                            <li>Planeación y ejecución del plan de posicionamiento SEO para diferentes motores de búsqueda</li>
                            <li>Asesoramiento general en Comunicación Digital</li>
                            <li>Entrega de informes mensuales de rendimiento en Google Analytics y Google My Business</li>
                            <li>Planeación y ejecución de campañas en Google Adwords (SEM) y en redes sociales</li>
                            <li><strong>Acciones de Community Management:</strong>Diseño, desarrollo y publicación de post's y contenido multimedia para redes sociales</li>
                        </ul>
                    </div>
                </div>
                <div class="ta-d">
                    <p><strong>Jefe Inmediato: </strong>Joan Sebastián Rodríguez</p>
                    <p><strong>Contacto: </strong>+57 312 814 01 80</p>
                </div>
            </div>

            <div class="teacompano">
                <div class="ta-a">
                    <p><strong>Empresa: </strong>Marketing Global</p>
                    <p><strong>Cargo: </strong>Community Manager</p>
                </div>
                <div class="container">
                    <div class="ta-b">
                        <p><strong>Período: </strong>26 de junio 2020 a Jueves 15 de abril de 2021</p>
                    </div>
                    <div class="ta-c">
                        <p><strong>Funciones: </strong></p>
                        <ul>
                            <li>Redacción de Copy's y contenidos para las redes sociales de las marcas de la empresa.</li>
                            <li>Redacción de Blogs para las marcas de la empresa (Ccoins, BitMoney y Mega Academia).</li>
                            <li>Publicación de los contenidos en las redes sociales de la empresa.</li>
                            <li>Análisis estadísticos de rendimiento y de KPI's con herramientas de Analítica web</li>
                        </ul>
                    </div>
                </div>
                <div class="ta-d">
                    <p><strong>Jefe Inmediato: </strong>Liliana Serrano Luna</p>
                    <p><strong>Contacto: </strong>+57 300 466 5630</p>
                </div>
            </div>

            <div class="teacompano">
                <div class="ta-a">
                    <p><strong>Empresa: </strong>Farsáli Colombia S.A.S</p>
                    <p><strong>Cargo: </strong>Desarrollador Web y Asesor Comercial</p>
                </div>
                <div class="container">
                    <div class="ta-b">
                        <p><strong>Período: </strong>Febrero 2020 a la actualidad</p>
                    </div>
                    <div class="ta-c">
                        <p><strong>Funciones: </strong></p>
                        <ul>
                            <li>Desarrollo y mantenimiento de la web <a href="https://www.farsalicolombia.com">Farsáli Colombia</a>.</li>
                            <li>Asesoramiento en temas comerciales y publicitarios.</li>
                            <li>Optimización y mantenimiento de los protocolos SEO/SEM.</li>
                        </ul>
                    </div>
                </div>
                <div class="ta-d">
                    <p><strong>Jefe Inmediato: </strong>José Fabián Ramírez</p>
                    <p><strong>Contacto: </strong>+57 304 3524716</p>
                </div>
            </div>

        </div>
    </div>
</div>