<div class="container">
    <div class="perfil" id="perfil">
        <div class="perfil__img">
            <img src="/img/img-into.jpg" alt="">
        </div>
        <div class="container">
            <div class="perfil__txt">
                <p>
                    Comunicador Social - Periodista con alto nivel de inglés y capacidades creativas en el manejo
                    de herramientas audiovisuales requeridas dentro de las etapas de producción y difusión de contenido
                    y contenido trans-media. La participación en la realización de cortometrajes argumentales y
                    documentales en la universidad, potenciaron el trabajo en equipo y dominio del tema.<br>

                    <br>Con conocimiento en el manejo de diferentes herramientas de diseño gráfico y multimedia los
                    cuales apoyan los estándares de difusión de contenido y mercadeo. Distinguido por la responsabilidad social,
                    capacidad de adquirir y superar nuevos retos y aptitudes de adaptabilidad, liderazgo y ganas de aprender.
                </p>
            </div>
            <div class="perfil__icons">
                <ul>
                    <li><img src="/img/video.png" alt=""></li>
                    <li><img src="/img/diseno.png" alt=""></li>
                    <li><img src="/img/edicion.png" alt=""></li>
                    <li><img src="/img/fotos.png" alt=""></li>
                </ul>
            </div>
        </div>
    </div>
</div>